.home {

    //    .btn{
    //        display: flex;
    //        background-color: red;
    //        width: 40%;
    ////        justify-content: center;
    ////        align-content: center;
    ////        align-items: center;
    ////        align-self: center;
    //        text-align: center;
    //    }
    //    
    header {
        border-bottom: 2px dashed @navigation-border;
        @media @mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h2 {
            padding-top: 30px;
            
            @media @mobile{
                text-align: center;
            }
        }
        p{
            @media @mobile{
                width: 90%;
                text-align: center;
            }
        }
    }

    .content-section {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        @media @mobile{
            display: flex;
            flex-direction: column;
            align-content: center;
        }

        .text-content {
            width: 48%;
            padding-right: 1%;
            
            @media @mobile{
                width: 90%;
                text-align: center;
            }
        }

        .img-content {
            width: 48%;
            padding-left: 1%;
            
            @media @mobile{
                width: 90%;
            }

            img {
                border-radius: 10px;
            }
        }
    }

    .inverse-content {
        padding-bottom: 30px;
        border-bottom: 2px dashed @navigation-border;
        
        @media @mobile{
            display: flex;
            flex-direction: column-reverse;
        }

        .text-content {
            padding-left: 1%;
            padding-right: 0;
        }

        .img-content {
            padding-right: 1%;
            padding-left: 0;
        }
    }

    .content-destination {
        width: 75%;
        margin: 0 auto 30px;

        img {
            border-radius: 10px;
        }
    }

    .content-pick {
        padding-top: 30px;
        border-top: 2px dashed @navigation-border;
        display: flex;
        justify-content: space-between;
        
        @media @mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
        }

        .destination {
            width: 30%;
            margin-bottom: 30px;
            
            @media @mobile{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                
            }

            .btn {
                .custom-button (@font-color, @button-bg);
            }

        }
    }
}

// home
